h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* Form */
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
}

button {
    cursor: pointer;
}

@media(max-width:768px) {
    p {
        font-size: 0.95rem;
    }

    a {
        font-size: 0.97rem;
    }
}
